<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span><ul class="toc-item"><li><span><a href="#Style" data-toc-modified-id="Style-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Style</a></span></li><li><span><a href="#Imports-and-data" data-toc-modified-id="Imports-and-data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Imports and data</a></span></li><li><span><a href="#Load-from-SQL" data-toc-modified-id="Load-from-SQL-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Load from SQL</a></span></li><li><span><a href="#Load-old-data-from-pickles" data-toc-modified-id="Load-old-data-from-pickles-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Load old data from pickles</a></span></li></ul></li><li><span><a href="#Test" data-toc-modified-id="Test-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Test</a></span></li><li><span><a href="#Prices" data-toc-modified-id="Prices-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Prices</a></span><ul class="toc-item"><li><span><a href="#Clean" data-toc-modified-id="Clean-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Clean</a></span></li><li><span><a href="#Create-new-index,-and-diff" data-toc-modified-id="Create-new-index,-and-diff-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Create new index, and diff</a></span></li><li><span><a href="#Reindex-Price" data-toc-modified-id="Reindex-Price-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Reindex Price</a></span></li><li><span><a href="#Post-to-SQL" data-toc-modified-id="Post-to-SQL-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Post to SQL</a></span></li><li><span><a href="#To-pickle" data-toc-modified-id="To-pickle-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>To pickle</a></span></li><li><span><a href="#Reset-prices" data-toc-modified-id="Reset-prices-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Reset prices</a></span></li></ul></li><li><span><a href="#Check-for-new-splits" data-toc-modified-id="Check-for-new-splits-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Check for new splits</a></span></li><li><span><a href="#Performance" data-toc-modified-id="Performance-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Performance</a></span><ul class="toc-item"><li><span><a href="#Functions" data-toc-modified-id="Functions-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Functions</a></span></li><li><span><a href="#Sort-old-index-old" data-toc-modified-id="Sort-old-index-old-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Sort old index old</a></span></li><li><span><a href="#load-in-data" data-toc-modified-id="load-in-data-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>load in data</a></span><ul class="toc-item"><li><span><a href="#Loc-relevant-symbols" data-toc-modified-id="Loc-relevant-symbols-5.3.1"><span class="toc-item-num">5.3.1&nbsp;&nbsp;</span>Loc relevant symbols</a></span></li></ul></li><li><span><a href="#Pull-out-new-data" data-toc-modified-id="Pull-out-new-data-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Pull out new data</a></span></li><li><span><a href="#Fill-ExDividendDate-and-map" data-toc-modified-id="Fill-ExDividendDate-and-map-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Fill ExDividendDate and map</a></span></li><li><span><a href="#Find-and-clean-new-values" data-toc-modified-id="Find-and-clean-new-values-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Find and clean new values</a></span></li><li><span><a href="#To-numeric" data-toc-modified-id="To-numeric-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>To numeric</a></span></li><li><span><a href="#Add-last-real-day-to-df_performance-for-interpolating" data-toc-modified-id="Add-last-real-day-to-df_performance-for-interpolating-5.8"><span class="toc-item-num">5.8&nbsp;&nbsp;</span>Add last real day to df_performance for interpolating</a></span></li><li><span><a href="#Create-new" data-toc-modified-id="Create-new-5.9"><span class="toc-item-num">5.9&nbsp;&nbsp;</span>Create new</a></span><ul class="toc-item"><li><span><a href="#Sort-index" data-toc-modified-id="Sort-index-5.9.1"><span class="toc-item-num">5.9.1&nbsp;&nbsp;</span>Sort index</a></span></li></ul></li><li><span><a href="#Create-new" data-toc-modified-id="Create-new-5.10"><span class="toc-item-num">5.10&nbsp;&nbsp;</span>Create new</a></span><ul class="toc-item"><li><span><a href="#Sort-index-on-all_new" data-toc-modified-id="Sort-index-on-all_new-5.10.1"><span class="toc-item-num">5.10.1&nbsp;&nbsp;</span>Sort index on all_new</a></span></li></ul></li><li><span><a href="#Add-prices-to-performance" data-toc-modified-id="Add-prices-to-performance-5.11"><span class="toc-item-num">5.11&nbsp;&nbsp;</span>Add prices to performance</a></span><ul class="toc-item"><li><span><a href="#Separate-out-penny-stocks" data-toc-modified-id="Separate-out-penny-stocks-5.11.1"><span class="toc-item-num">5.11.1&nbsp;&nbsp;</span>Separate out penny stocks</a></span></li></ul></li><li><span><a href="#To-pickle" data-toc-modified-id="To-pickle-5.12"><span class="toc-item-num">5.12&nbsp;&nbsp;</span>To pickle</a></span></li><li><span><a href="#Post-to-SQL" data-toc-modified-id="Post-to-SQL-5.13"><span class="toc-item-num">5.13&nbsp;&nbsp;</span>Post to SQL</a></span></li></ul></li><li><span><a href="#Company" data-toc-modified-id="Company-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Company</a></span></li><li><span><a href="#Analyst" data-toc-modified-id="Analyst-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Analyst</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Loc-relevant-symbols" data-toc-modified-id="Loc-relevant-symbols-7.0.1"><span class="toc-item-num">7.0.1&nbsp;&nbsp;</span>Loc relevant symbols</a></span></li><li><span><a href="#Loc-relevant-date" data-toc-modified-id="Loc-relevant-date-7.0.2"><span class="toc-item-num">7.0.2&nbsp;&nbsp;</span>Loc relevant date</a></span></li><li><span><a href="#Sort-old-index" data-toc-modified-id="Sort-old-index-7.0.3"><span class="toc-item-num">7.0.3&nbsp;&nbsp;</span>Sort old index</a></span></li><li><span><a href="#Add-last-real-day-to-df_analyst-for-interpolating" data-toc-modified-id="Add-last-real-day-to-df_analyst-for-interpolating-7.0.4"><span class="toc-item-num">7.0.4&nbsp;&nbsp;</span>Add last real day to df_analyst for interpolating</a></span></li></ul></li><li><span><a href="#Create-new" data-toc-modified-id="Create-new-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Create new</a></span><ul class="toc-item"><li><span><a href="#Sort-index" data-toc-modified-id="Sort-index-7.1.1"><span class="toc-item-num">7.1.1&nbsp;&nbsp;</span>Sort index</a></span></li><li><span><a href="#Iterate-to-map-and-fillna" data-toc-modified-id="Iterate-to-map-and-fillna-7.1.2"><span class="toc-item-num">7.1.2&nbsp;&nbsp;</span>Iterate to map and fillna</a></span></li><li><span><a href="#Convert-string-to-float" data-toc-modified-id="Convert-string-to-float-7.1.3"><span class="toc-item-num">7.1.3&nbsp;&nbsp;</span>Convert string to float</a></span></li></ul></li><li><span><a href="#Add-to-sql-server" data-toc-modified-id="Add-to-sql-server-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Add to sql server</a></span></li><li><span><a href="#Pickle" data-toc-modified-id="Pickle-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Pickle</a></span></li></ul></li><li><span><a href="#Combine-company,-analyst-and-performance" data-toc-modified-id="Combine-company,-analyst-and-performance-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Combine company, analyst and performance</a></span><ul class="toc-item"><li><span><a href="#Performance" data-toc-modified-id="Performance-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Performance</a></span></li><li><span><a href="#Penny" data-toc-modified-id="Penny-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Penny</a></span></li><li><span><a href="#Write-pickles" data-toc-modified-id="Write-pickles-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Write pickles</a></span></li></ul></li><li><span><a href="#Post-to-firebase" data-toc-modified-id="Post-to-firebase-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Post to firebase</a></span></li></ul></div>

# Introduction

> Can be sped up by only filling from the last date, rather than filling from the entire previous data. The to_be_added_x could simply be added onto the old before pickling
>
> **This is a similar process to the pull and clean data, although measures have been taken to speed it up such as:**
> * Only adding in one day, vs resetting all of the data
> * Only comparing new data to one previous day for interpolation.
> * Using previous indexes, so price creation only loops through 2000+ symbols vs 8000+ before
> * For firebase updating with sym/col/date = x  rather than attempting to upload a dictionary every 100 symbols before

## Style

In [1]:
import warnings
import matplotlib as mpl
mpl.rcParams['axes.titlesize']='xx-large'
mpl.rcParams['xtick.labelsize'] = 13
mpl.rcParams['ytick.labelsize'] = 13
mpl.rcParams['axes.labelsize'] = 16

# Styling notebook
from IPython.core.display import HTML
def css_styling():
    styles = open("./styles/custom.css", "r").read()
    return HTML(styles)
css_styling()

## Imports and data

In [2]:
USE_GPU = True
IGNORE_WARN = True
SEED = 42

import os
import sys
import time
import datetime
import importlib
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.float_format', lambda x: '%.3f' % x)

# Imports for reproducability
import numpy as np
np.random.seed(SEED)

import tensorflow as tf
tf.random.set_seed(SEED)

if 'mlframe' in sys.modules:
    importlib.reload(sys.modules['mlframe'])
    importlib.reload(sys.modules['db'])

from db import DataBase
from mlframe import MLFrame

# Ignore warnings
if IGNORE_WARN:
    warnings.filterwarnings('ignore')

For convinent loading 'from mlframe import MLFrame

C:\Users\12147\anaconda3\envs\tf-gpu\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

## Load from SQL
> This could be sped up by only selecting the new dates or dates not in stock_cleaned

In [3]:
db = DataBase('stock', 14333, 'localhost')
db.cur.execute(
"""
SHOW TABLES
""")
db_names = list(table[0] for table in db.cur.fetchall())
db.pull_names_as_dataframes(db_names)
db.conn.close()

## Load old data from pickles

In [4]:
old_df_prices = pd.read_pickle("./data/prices.pkl")
old_df_performance = pd.read_pickle('./data/performance.pkl')
old_df_penny_performance = pd.read_pickle('./data/penny_performance.pkl')
old_df_analyst = pd.read_pickle('./data/analyst.pkl')
df_company = pd.read_pickle('./data/company.pkl')

# Test

In [5]:
original = pd.DataFrame({
    'date': [1, 2, 1, 2, 1, 2],
    'sym': ['A', 'A', 'B', 'B', 'C', 'C'],
    'price': [10, 20, 10, 20, 10, 20]
}).set_index('date', drop=True)

new = pd.DataFrame({
    'date': [1, 2, 3, 1, 2, 1, 2, 3],
    'sym': ['A', 'A', 'A', 'B', 'B', 'C', 'C', 'C'],
    'price': [10, 20, 30, 10, 20, 10, 20, 30]  
}).set_index('date', drop=True)

In [6]:
display(original, new)

     sym  price
date
1      A     10
2      A     20
1      B     10
2      B     20
1      C     10
2      C     20

     sym  price
date
1      A     10
2      A     20
3      A     30
1      B     10
2      B     20
1      C     10
2      C     20
3      C     30

In [7]:
expected = pd.DataFrame({
    'date': [3, 3, 3],
    'sym': ['A', 'B', 'C'],
    'price': [30, np.NaN, 30]  
}).set_index('date', drop=True)
expected

     sym  price
date
3      A 30.000
3      B    nan
3      C 30.000

In [8]:
symbols = original['sym'].unique()
idx = [1, 2, 3]
sym_dfs = []
for sym in symbols:
    _new = new.loc[new['sym'] == sym]
    new_sym = pd.DataFrame(_new, index=idx)
    new_sym['sym'] = new_sym['sym'].fillna(method='ffill')
    new_sym['price'] = new_sym['price'].interpolate('pchip')  # fill with predicted value here
    sym_dfs.append(new_sym)
all_new = pd.concat(sym_dfs)
all_new.loc[all_new.index==3]

  sym  price
3   A 30.000
3   B 30.000
3   C 30.000

# Prices

## Clean

In [9]:
# Cleaning first blank row
df_prices = db.frames['prices'].copy(deep=True).drop(0)

# Resetting date index and dropping index
df_prices.set_index('date', inplace=True, drop=True)

print("Null values = \n", df_prices.isna().sum())

Null values =
 sym      0
price    0
dtype: int64

## Create new index, and diff
> * `newest_date` is the most recent date added to the server
> * `date_idx` is the old date index i.e data that doesn't need to be updated
> * `new_idx` is the new date index
> * `idx_diff` is the day(s) that are being added and one day of the previous

In [10]:
drop_index = pd.to_datetime(['2019-12-09', '2020-06-23', '2020-06-24', '2020-06-25'])

In [11]:
newest_date = df_prices.index.max()
newest_date

datetime.date(2020, 12, 14)

In [12]:
date_idx = old_df_prices.reset_index().query("sym == 'AAPL'")['date'].values
date_idx[:5], date_idx[-5:]

(array(['2019-08-09T00:00:00.000000000', '2019-08-12T00:00:00.000000000',
        '2019-08-13T00:00:00.000000000', '2019-08-14T00:00:00.000000000',
        '2019-08-15T00:00:00.000000000'], dtype='datetime64[ns]'),
 array(['2020-12-07T00:00:00.000000000', '2020-12-08T00:00:00.000000000',
        '2020-12-09T00:00:00.000000000', '2020-12-10T00:00:00.000000000',
        '2020-12-11T00:00:00.000000000'], dtype='datetime64[ns]'))

In [13]:
new_idx = pd.date_range(date_idx[0], newest_date, freq='B')
new_idx[:2], new_idx[-2:]

(DatetimeIndex(['2019-08-09', '2019-08-12'], dtype='datetime64[ns]', freq='B'),
 DatetimeIndex(['2020-12-11', '2020-12-14'], dtype='datetime64[ns]', freq='B'))

In [14]:
new_idx = new_idx.drop(drop_index)

In [15]:
idx_diff = pd.date_range(date_idx[-1], newest_date, freq='B')[1:]
idx_diff

DatetimeIndex(['2020-12-14'], dtype='datetime64[ns]', freq='B')

## Reindex Price

```python
symbols = original['sym'].unique()
idx = [1, 2, 3]
sym_dfs = []
for sym in symbols:
    _og = original.loc[original['sym'] == sym]
    _new = new.loc[new['sym'] == sym]
    new_sym = pd.DataFrame(_new, index=idx)
    new_sym['sym'] = new_sym['sym'].fillna(method='ffill')
    new_sym['price'] = new_sym['price'].interpolate('pchip')  # fill with predicted value here
    sym_dfs.append(new_sym)
all_new = pd.concat(sym_dfs)
all_new.loc[all_new.index==3]
```

In [16]:
old_df_performance = pd.concat([old_df_performance, old_df_penny_performance])

In [17]:
all_symbols = old_df_performance.reset_index()['sym'].unique()
len(all_symbols)

2102

In [18]:
df_prices = df_prices.loc[df_prices['sym'].isin(all_symbols)]
df_new_prices = df_prices.copy()
df_new_prices.index = pd.to_datetime(df_new_prices.index)
df_new_prices = df_new_prices.loc[df_new_prices.index.isin(new_idx)]

In [19]:
symbols = all_symbols
idx = new_idx
sym_dfs = []
for sym in symbols:
    _new = df_new_prices.loc[df_new_prices['sym'] == sym]
    new_sym = pd.DataFrame(_new, index=idx)
    new_sym['sym'] = new_sym['sym'].fillna(method='ffill')
    new_sym['price'] = pd.to_numeric(new_sym['price']).interpolate('pchip')
    sym_dfs.append(new_sym)
all_new = pd.concat(sym_dfs)
to_be_added_prices = all_new.loc[all_new.index.isin(idx_diff)]

In [20]:
df_test = to_be_added_prices.reset_index().copy()
missing_idx = df_test[~((df_test['sym']).isin(df_new_prices['sym']))]

In [21]:
to_be_added_prices.isna().sum()

sym      0
price    0
dtype: int64

In [22]:
df_price = to_be_added_prices
to_be_added_prices.head()

             sym   price
2020-12-14     A 116.740
2020-12-14   AAL  16.700
2020-12-14  AAMC  22.950
2020-12-14  AAME   2.315
2020-12-14   AAP 157.560

In [23]:
all_new.isna().sum()

sym      0
price    0
dtype: int64

## Post to SQL

In [24]:
df_prices = to_be_added_prices.reset_index()
df_prices.columns = ['date', 'sym', 'price']
df_prices = df_prices.set_index(['sym', 'date'], drop=True)

In [27]:
# Open database cleaned
db_clean = DataBase('stock_cleaned', 14333, 'localhost')
db_clean.pull_names_as_dataframes(['prices'])

# Make list of queries to post to sql
query_list = []
for idx, row in df_prices.reset_index().iterrows():
    query_list.append(tuple(row.to_dict().values()))

# Execute query
db_clean.cur.executemany("""
REPLACE INTO prices (sym, date, price)
VALUES (%s, %s, %s)""",
      query_list)

# Commit
db_clean.conn.commit()

# Close db
db_clean.conn.close()

In [28]:
old_df_performance

,date,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
0,2019-08-09,A,5019.000,2155.000,0,0.164,0.944,4.298,4.402,21670704590.000,...,19.800,23.160,887.000,37.290,3.131,3.009,4.044,14.794,2.593,68.640
1,2019-08-12,A,5019.000,2155.000,0,0.164,0.956,4.246,4.348,21401262240.000,...,19.200,23.160,887.000,37.290,3.592,1.749,4.508,14.099,2.585,66.780
2,2019-08-13,A,5019.000,2155.000,0,0.164,0.985,4.121,4.221,20764110330.000,...,19.500,23.160,887.000,37.290,0.558,-1.230,1.448,12.479,2.605,67.640
3,2019-08-14,A,5019.000,2155.000,0,0.164,0.970,4.184,4.285,21084271240.000,...,18.900,23.160,887.000,37.290,2.578,0.267,3.485,13.044,2.616,65.590
4,2019-08-15,A,5090.000,1765.000,0,0.164,1.000,4.283,4.068,20365900000.000,...,20.800,22.018,918.000,36.935,-1.738,-2.772,-0.869,11.891,2.631,69.590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
896142,2020-04-30,ZEST,0.227,0.106,0,0.000,0.000,39.519,166.623,45941800.000,...,0.000,547.172,-6.615,-80.458,-3.077,-30.433,-3.077,-47.605,0.225,0.568
896143,2020-05-01,ZEST,0.227,0.106,0,0.000,0.000,39.718,150.093,41656800.000,...,0.000,547.172,-6.615,-80.458,-12.692,-37.334,-12.692,-49.398,0.228,0.640
896144,2020-05-04,ZEST,0.227,0.106,0,0.000,0.000,39.917,169.267,46627400.000,...,0.000,547.172,-6.615,-80.458,-3.030,-29.329,-3.030,-46.798,0.228,0.670
896145,2020-05-05,ZEST,0.227,0.106,0,0.000,0.000,40.116,177.202,48684200.000,...,0.000,547.172,-6.615,-80.458,3.077,-26.016,3.077,-47.385,0.228,0.730
896146,2020-05-06,ZEST,0.227,0.106,0,0.000,0.000,40.315,193.097,52804656.000,...,0.000,547.172,-6.615,-80.458,12.323,-19.379,12.323,-46.052,0.227,0.880

## To pickle

In [29]:
all_new = all_new.reset_index()
all_new.columns = ['date', 'sym', 'price']

In [30]:
all_new = all_new.set_index(['sym', 'date'], drop=True)

In [63]:
assertion_df = all_new.reset_index().set_index('date', drop=True).copy()
assertion_df = assertion_df.loc[~assertion_df.index.isin(idx_diff)]

In [62]:
assertion_old = pd.read_pickle("./data/prices.pkl").reset_index().set_index('date', drop=True).copy()

In [71]:
(assertion_df == assertion_old).sum()

sym      6593
price    6222
dtype: int64

In [37]:
assert(False)
# make an explicit check
pd.read_pickle("./data/prices.pkl")
# VS
all_new.drop(to_be_added_prices)

AssertionError:

In [ ]:
# Explicit check

In [33]:
all_new.to_pickle("./data/prices.pkl")
(all_new != pd.read_pickle("./data/prices.pkl")).sum()

sym      0
price    0
dtype: int64

## Reset prices

In [34]:
df_prices = pd.read_pickle("./data/prices.pkl")
df_prices = df_prices.reset_index().set_index(['date'])
df_prices.index = pd.to_datetime(df_prices.index)

In [35]:
df_prices['sym'].nunique()

2102

# Check for new splits

In [36]:
df_splits = db.frames['splits']

In [37]:
idx_diff

DatetimeIndex(['2020-12-11'], dtype='datetime64[ns]', freq='B')

In [38]:
assert(df_splits['execute'].isin(idx_diff).sum() == 0)

# Performance
> **Steps to take**
> * Load in performance, and clean
> * Match index to prices
> * Try to interpolate null values by one day as we did with prices
> * Fill null ExDividend dates with 1970-01-01 then encode days since then for numerical data
> * Decide what columns to drop, and which stocks to drop if they are in a given column
> * Apply splits
> * Post to sql server  CHECKPOINT
> * Drop penny stocks ~1/5 of data

## Functions

In [39]:
def get_perc_not_null(df):
    """Returns the percentages of null in each column to the length of the df"""
    nulls = df.isna().sum()
    return pd.Series(1 - nulls/len(df)).sort_values() * 100

In [40]:
def check_quantity_stocks_null_in_columns(df, cols):
    """Query to find how many stocks have a null value in any of these columns
        loc the rows that have any nulls in the given columns
        reset the index to 0-x
        get 'sym' series
        get the number of unique values
        """
    return df.loc[df[cols].isna().transpose().any()].reset_index()['sym'].nunique()

In [41]:
def try_replace(x):
    """Quick fix to some of the data having '1,300' instead of a number"""
    try:
        x = x.replace(',', '')
        return x
    except Exception:
        return x

In [42]:
drop_cols = ['PEG', 'FwdEPS3to5Yr', 'DividendCoverage', 'TotalReturn10Yr',
             'EPSGrowth5Year', 'TotalReturn5Yr']

## Sort old index old

In [43]:
old_df_performance = old_df_performance.set_index(['sym', 'date'], drop=True).sort_index().reset_index().set_index(['date'], drop=True)

In [44]:
old_df_performance

,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
date,,,,,,,,,,,,,,,,,,,,
2019-08-09,A,5019.000,2155.000,0,0.164,0.944,4.298,4.402,21670704590.000,16.574,19.800,23.160,887.000,37.290,3.131,3.009,4.044,14.794,2.593,68.640
2019-08-12,A,5019.000,2155.000,0,0.164,0.956,4.246,4.348,21401262240.000,16.371,19.200,23.160,887.000,37.290,3.592,1.749,4.508,14.099,2.585,66.780
2019-08-13,A,5019.000,2155.000,0,0.164,0.985,4.121,4.221,20764110330.000,15.892,19.500,23.160,887.000,37.290,0.558,-1.230,1.448,12.479,2.605,67.640
2019-08-14,A,5019.000,2155.000,0,0.164,0.970,4.184,4.285,21084271240.000,16.132,18.900,23.160,887.000,37.290,2.578,0.267,3.485,13.044,2.616,65.590
2019-08-15,A,5090.000,1765.000,0,0.164,1.000,4.283,4.068,20365900000.000,16.051,20.800,22.018,918.000,36.935,-1.738,-2.772,-0.869,11.891,2.631,69.590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-04,ZYXI,68.679,41.229,0,0.000,0.000,8.654,6.602,433939610.000,39.557,47.100,32.881,3.825,17.030,26.331,71.919,26.331,77.578,0.781,14.130
2020-12-07,ZYXI,68.679,41.229,0,0.000,0.000,9.037,6.894,454781810.000,41.311,46.000,32.881,3.825,17.030,41.300,79.543,41.300,92.600,0.776,13.800
2020-12-08,ZYXI,68.679,41.229,0,0.000,0.000,8.826,6.733,443318600.000,40.346,46.200,32.881,3.825,17.030,37.313,75.349,37.313,78.155,0.747,13.850
2020-12-09,ZYXI,68.679,41.229,0,0.000,0.000,8.858,6.758,445055450.000,40.492,44.000,32.881,3.825,17.030,37.811,75.985,37.811,76.397,0.737,13.205
2020-12-10,ZYXI,68.679,41.229,0,0.000,0.000,8.443,6.441,422476400.000,38.592,44.500,32.881,3.825,17.030,37.931,67.726,37.931,73.593,0.733,13.360

## load in data

In [ ]:
assert(False) # Something is broken here,  splits are not being applied to the data that is being added.

In [45]:
# Cleaning first two blank rows
df_performance = db.frames['performance'].copy(deep=True).drop([0, 1])

# Drop cols
df_performance.drop(drop_cols, inplace=True, axis=1)

# Remove Dates that are less than august 8th, as that is from a different collection method
df_performance = df_performance[df_performance['date'] > pd.to_datetime('2019-08-08')]

# Resetting date index and dropping index
df_performance.set_index('date', inplace=True, drop=True)

# Dropping null date values
df_performance = df_performance.loc[df_performance.index.notnull()]

# Replace -- with NaN
df_performance.replace(['', '--'], np.NaN, inplace=True)
df_performance.head()

,sym,MCAP,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,SharesOutstanding,VolumeAvg90Day
date,,,,,,,,,,,,,,,,,,,,,
2019-08-09,A,22027.70459,5019,2155,NaN,0.164,0.94402,4.29809,4.40182,21670704590,...,19.8,23.1598,887,37.29007,3.13149,3.00919,4.04369,14.79356,315.993,2.59274
2019-08-12,A,21758.26224,5019,2155,NaN,0.164,0.95571,4.24551,4.34797,21401262240,...,19.2,23.1598,887,37.29007,3.59191,1.74918,4.50818,14.09856,315.993,2.58484
2019-08-13,A,21121.11033,5019,2155,NaN,0.164,0.98454,4.12119,4.22065,20764110330,...,19.5,23.1598,887,37.29007,0.55841,-1.23036,1.44784,12.4788,315.993,2.60485
2019-08-14,A,21441.27124,5019,2155,NaN,0.164,0.96984,4.18366,4.28463,21084271240,...,18.9,23.1598,887,37.29007,2.5781,0.26682,3.4854,13.04428,315.993,2.61616
2019-08-15,A,20332.9,5090,1765,NaN,0.164,1.00015,4.28332,4.06782,20365900000,...,20.8,22.0179,918,36.93453,-1.73783,-2.77201,-0.8687,11.89052,315.993,2.63078

### Loc relevant symbols

In [46]:
df_performance = df_performance.loc[df_performance['sym'].isin(all_symbols)]

## Pull out new data

In [47]:
df_performance.index = pd.to_datetime(df_performance.index)

In [48]:
df_performance = df_performance.loc[df_performance.index.isin(df_performance.iloc[-(len(idx_diff))::].index)]
df_performance

,sym,MCAP,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,SharesOutstanding,VolumeAvg90Day
date,,,,,,,,,,,,,,,,,,,,,
2020-12-11,A,36355.86,5339,1441,2021-01-04,0.194,0.65314,7.46067,6.85956,37273860000,...,51.5,14.7714,802,52.37802,43.2654,39.26855,44.49293,21.8758,308.31,1.41463
2020-12-11,AAL,9149.78596,24622,8792,NaN,NaN,NaN,NaN,0.34126,41562785960,...,NaN,219.8235,-6029,-1299.19658,-33.37037,-37.27336,-33.12505,-28.74738,604.999,72.6985
2020-12-11,AAMC,37.128,4.127,44.909,NaN,NaN,NaN,NaN,NaN,242914000,...,NaN,9.6982,7.201,-1.6266,68.64344,84.21053,68.64344,-32.21703,1.632,0.01263
2020-12-11,AAME,44.9108,187.705,9.959,NaN,NaN,NaN,0.35098,0.23962,NaN,...,37.8,1.011,4.646,33.24717,13.78918,11.67513,13.78918,-13.52396,20.414,0.01075
2020-12-11,AAP,10829.3679,9853.804,1068.205,2020-12-17,0.25,0.63203,2.87811,1.10758,13251641900,...,22.9,13.0887,674.044,100.3605,1.31267,-1.21129,1.9722,16.79121,67.855,0.86457
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-11,ZIXI,420.60096,210.99,23.662,NaN,NaN,NaN,11.73486,1.98146,706135960,...,NaN,-40.6904,12.46,520.21348,12.5,8.84956,12.5,20.29016,56.991,0.75985
2020-12-11,ZNGA,9344.13134,1763.25,755.431,NaN,NaN,NaN,3.32131,4.84231,9321665340,...,NaN,-18.1337,296.4,34.47581,41.27243,41.50327,41.27243,31.82828,1078.999,21.04882
2020-12-11,ZTS,75145.42316,6555,3654,NaN,0.2,0.63243,20.86214,11.4618,79354423160,...,46.0,55.2262,1523,240.88003,28.78319,19.4711,29.51991,30.83655,475.268,1.66083
2020-12-11,ZUMZ,943.48288,987.869,316.173,NaN,NaN,NaN,1.89004,0.95782,954995880,...,13.2,15.2833,145.507,72.24215,8.84514,7.23798,8.84514,20.44209,25.476,0.33449
2020-12-11,ZYXI,464.78106,68.679,41.229,NaN,NaN,NaN,8.55777,6.52849,428729060,...,43.5,32.8813,3.825,17.03027,46.22951,70.01271,46.22951,74.37848,34.741,0.72987

## Fill ExDividendDate and map

In [49]:
fill_date = pd.to_datetime('1970-01-01')
df_performance = df_performance.reset_index().set_index('date', drop=True)
df_performance['ExDividendDate'] = pd.to_datetime(df_performance['ExDividendDate'].fillna(fill_date))
print("Null dates:", df_performance['ExDividendDate'].isna().sum())
df_performance['ExDividendDate'] = \
    df_performance['ExDividendDate'].map(lambda x: (x - fill_date).days)
df_performance.head()

Null dates: 0

,sym,MCAP,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,SharesOutstanding,VolumeAvg90Day
date,,,,,,,,,,,,,,,,,,,,,
2020-12-11,A,36355.86,5339,1441,18631,0.194,0.65314,7.46067,6.85956,37273860000,...,51.5,14.7714,802,52.37802,43.2654,39.26855,44.49293,21.8758,308.31,1.41463
2020-12-11,AAL,9149.78596,24622,8792,0,NaN,NaN,NaN,0.34126,41562785960,...,NaN,219.8235,-6029,-1299.19658,-33.37037,-37.27336,-33.12505,-28.74738,604.999,72.6985
2020-12-11,AAMC,37.128,4.127,44.909,0,NaN,NaN,NaN,NaN,242914000,...,NaN,9.6982,7.201,-1.6266,68.64344,84.21053,68.64344,-32.21703,1.632,0.01263
2020-12-11,AAME,44.9108,187.705,9.959,0,NaN,NaN,0.35098,0.23962,NaN,...,37.8,1.011,4.646,33.24717,13.78918,11.67513,13.78918,-13.52396,20.414,0.01075
2020-12-11,AAP,10829.3679,9853.804,1068.205,18613,0.25,0.63203,2.87811,1.10758,13251641900,...,22.9,13.0887,674.044,100.3605,1.31267,-1.21129,1.9722,16.79121,67.855,0.86457

## Find and clean new values

In [50]:
for col in df_performance.head().columns:
    df_performance[col] = df_performance[col].map(try_replace)

## To numeric

In [51]:
for col in df_performance.columns:
    if col != 'sym':
        df_performance[col] = pd.to_numeric(df_performance[col])

## Add last real day to df_performance for interpolating

In [52]:
old_df_performance = old_df_performance.loc[old_df_performance.index[-1] == (old_df_performance.index)]
old_df_performance

,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
date,,,,,,,,,,,,,,,,,,,,
2020-12-10,A,5339.000,1441.000,18631,0.194,0.667,7.309,6.720,36536400000.000,34.937,51.700,14.771,802.000,52.378,42.612,36.444,43.834,21.046,1.419,118.810
2020-12-10,AAL,24622.000,8792.000,0,0.100,3.331,74.794,0.326,41140644640.000,2.964,3.200,219.823,-6029.000,-1299.197,-37.577,-40.167,-37.347,-29.860,72.279,17.980
2020-12-10,AAMC,4.127,44.909,0,0.000,0.000,0.000,2.262,242889520.000,0.000,0.000,9.698,7.201,-1.627,65.949,84.089,65.949,-32.232,0.013,22.750
2020-12-10,AAME,187.705,9.959,0,0.020,1.117,0.343,0.234,84041000.000,15.863,36.700,1.011,4.646,33.247,7.500,9.137,7.500,-14.184,0.011,2.200
2020-12-10,AAP,9853.804,1068.205,18613,0.250,0.633,2.873,1.106,13233161750.000,14.953,23.000,13.089,674.044,100.361,4.209,-1.380,4.888,16.725,0.861,158.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-10,ZIXI,210.990,23.662,0,0.000,0.000,11.592,1.957,701006680.000,16.405,0.000,-40.690,12.460,520.213,8.482,7.522,8.482,19.799,0.767,7.380
2020-12-10,ZNGA,1763.250,755.431,0,0.000,0.000,3.306,4.820,9278505380.000,185.081,143.900,-18.134,296.400,34.476,39.935,40.850,39.935,31.625,21.178,8.660
2020-12-10,ZTS,6555.000,3654.000,0,0.200,0.504,20.939,11.504,79630064100.000,35.840,45.600,55.226,1523.000,240.880,30.908,19.909,31.657,30.996,1.661,158.120
2020-12-10,ZUMZ,987.869,316.173,0,0.000,0.000,1.902,0.964,961109160.000,9.931,13.200,15.283,145.507,72.242,7.435,7.933,7.435,20.702,0.338,37.010
2020-12-10,ZYXI,68.679,41.229,0,0.000,0.000,8.443,6.441,422476400.000,38.592,44.500,32.881,3.825,17.030,37.931,67.726,37.931,73.593,0.733,13.360

## Create new

In [53]:
df_new_performance = pd.concat([old_df_performance, df_performance])

### Sort index

In [54]:
df_new_performance = df_new_performance.reset_index().set_index(['sym', 'date'], drop=True).sort_index().reset_index().set_index(['date'], drop=True)
df_new_performance

,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,...,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price,MCAP,SharesOutstanding
date,,,,,,,,,,,,,,,,,,,,,
2020-12-10,A,5339.000,1441.000,18631,0.194,0.667,7.309,6.720,36536400000.000,34.937,...,802.000,52.378,42.612,36.444,43.834,21.046,1.419,118.810,nan,nan
2020-12-11,A,5339.000,1441.000,18631,0.194,0.653,7.461,6.860,37273860000.000,35.660,...,802.000,52.378,43.265,39.269,44.493,21.876,1.415,nan,36355.860,308.310
2020-12-10,AAL,24622.000,8792.000,0,0.100,3.331,74.794,0.326,41140644640.000,2.964,...,-6029.000,-1299.197,-37.577,-40.167,-37.347,-29.860,72.279,17.980,nan,nan
2020-12-11,AAL,24622.000,8792.000,0,nan,nan,nan,0.341,41562785960.000,nan,...,-6029.000,-1299.197,-33.370,-37.273,-33.125,-28.747,72.698,nan,9149.786,604.999
2020-12-10,AAMC,4.127,44.909,0,0.000,0.000,0.000,2.262,242889520.000,0.000,...,7.201,-1.627,65.949,84.089,65.949,-32.232,0.013,22.750,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-11,ZTS,6555.000,3654.000,0,0.200,0.632,20.862,11.462,79354423160.000,35.709,...,1523.000,240.880,28.783,19.471,29.520,30.837,1.661,nan,75145.423,475.268
2020-12-10,ZUMZ,987.869,316.173,0,0.000,0.000,1.902,0.964,961109160.000,9.931,...,145.507,72.242,7.435,7.933,7.435,20.702,0.338,37.010,nan,nan
2020-12-11,ZUMZ,987.869,316.173,0,nan,nan,1.890,0.958,954995880.000,9.867,...,145.507,72.242,8.845,7.238,8.845,20.442,0.334,nan,943.483,25.476
2020-12-10,ZYXI,68.679,41.229,0,0.000,0.000,8.443,6.441,422476400.000,38.592,...,3.825,17.030,37.931,67.726,37.931,73.593,0.733,13.360,nan,nan
2020-12-11,ZYXI,68.679,41.229,0,nan,nan,8.558,6.528,428729060.000,39.118,...,3.825,17.030,46.230,70.013,46.230,74.378,0.730,nan,464.781,34.741

## Create new

In [55]:
df_new_performance.drop(['MCAP', 'SharesOutstanding'], inplace=True, axis=1)

In [58]:
# takes symbols and idx from when prices ran through this
symbols = all_symbols
idx = df_new_performance.iloc[-(len(idx_diff)+1)::].index
sym_dfs = []

sym_num = len(all_symbols)
times = np.array([])

def cust_interpolate_fill_na(sym):
    # Locing new, and one before for filling to speed up
    new_sym = df_new_performance.loc[df_new_performance['sym'] == sym]
    new_sym['sym'] = new_sym['sym'].fillna(method='ffill')
    new_sym = new_sym.interpolate()
    sym_dfs.append(new_sym)

for num, sym in enumerate(symbols):
    start = time.time()
    cust_interpolate_fill_na(sym)  # Timed function
    end = time.time()
    time_taken = end-start
    times = np.append(times, time_taken)
    print(f"{num+1}/{sym_num} in {time_taken: .2f}s for {sym} :: averaging {times.mean():.2f}s/sym...", end='\r')
    
all_new = pd.concat(sym_dfs)
to_be_added_performance = all_new.loc[all_new.index.isin(idx_diff)]

In [59]:
assert(to_be_added_performance.isna().sum().sum() == 0)
assert(all_new.isna().sum().sum() == 0)

In [60]:
old_df_performance = pd.read_pickle('./data/performance.pkl')
old_df_penny_performance = pd.read_pickle('./data/penny_performance.pkl')
old_df_performance = pd.concat([old_df_performance, old_df_penny_performance])
old_df_performance = old_df_performance.set_index('date', drop=True)

In [61]:
all_new = pd.concat([old_df_performance, to_be_added_performance])
all_new.tail()

,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
date,,,,,,,,,,,,,,,,,,,,
2020-12-11,TREVF,234.685,11.858,0,0.000,0.000,0.476,0.543,257220101.800,0.778,0.000,-60.716,-80.492,35.989,11.823,-7.130,11.823,-46.270,0.134,0.159
2020-12-11,UAMY,6.086,1.690,0,0.000,0.000,3.455,4.736,29684825.000,22.109,69.000,-42.153,-0.624,6.300,2.074,4.805,2.074,14.175,2.226,0.404
2020-12-11,URG,19.153,6.643,0,0.000,0.000,2.728,5.312,112632500.000,947.643,0.000,-18.266,-1.542,31.258,6.838,6.202,6.838,-2.772,0.583,0.625
2020-12-11,VKIN,38.998,5.951,0,0.000,0.000,2.613,0.530,152670590.000,2.869,1.300,-150.494,-1.182,772.640,-7.110,8.333,-7.110,-16.085,0.110,0.130
2020-12-11,XPL,0.408,8.574,0,0.000,0.000,1.163,68.447,19433894.000,0.000,0.000,-3.221,-0.970,0.283,84.382,60.113,84.382,-4.970,0.876,0.480

### Sort index on all_new

In [62]:
all_new = all_new.reset_index().set_index(['sym', 'date'], drop=True).sort_index().reset_index().set_index(['date'], drop=True)
all_new.tail()

,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
date,,,,,,,,,,,,,,,,,,,,
2020-12-07,ZYXI,68.679,41.229,0,0.000,0.000,9.037,6.894,454781810.000,41.311,46.000,32.881,3.825,17.030,41.300,79.543,41.300,92.600,0.776,13.800
2020-12-08,ZYXI,68.679,41.229,0,0.000,0.000,8.826,6.733,443318600.000,40.346,46.200,32.881,3.825,17.030,37.313,75.349,37.313,78.155,0.747,13.850
2020-12-09,ZYXI,68.679,41.229,0,0.000,0.000,8.858,6.758,445055450.000,40.492,44.000,32.881,3.825,17.030,37.811,75.985,37.811,76.397,0.737,13.205
2020-12-10,ZYXI,68.679,41.229,0,0.000,0.000,8.443,6.441,422476400.000,38.592,44.500,32.881,3.825,17.030,37.931,67.726,37.931,73.593,0.733,13.360
2020-12-11,ZYXI,68.679,41.229,0,0.000,0.000,8.558,6.528,428729060.000,39.118,43.500,32.881,3.825,17.030,46.230,70.013,46.230,74.378,0.730,13.360

In [63]:
all_new.isna().sum().sum()

0

## Add prices to performance

In [64]:
all_new.drop('price', axis=1, inplace=True)

In [65]:
all_new = all_new.merge(df_prices.reset_index(), on=['date', 'sym'])

In [66]:
all_new.head()

,date,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
0,2019-08-09,A,5019.000,2155.000,0,0.164,0.944,4.298,4.402,21670704590.000,...,19.800,23.160,887.000,37.290,3.131,3.009,4.044,14.794,2.593,68.640
1,2019-08-12,A,5019.000,2155.000,0,0.164,0.956,4.246,4.348,21401262240.000,...,19.200,23.160,887.000,37.290,3.592,1.749,4.508,14.099,2.585,66.780
2,2019-08-13,A,5019.000,2155.000,0,0.164,0.985,4.121,4.221,20764110330.000,...,19.500,23.160,887.000,37.290,0.558,-1.230,1.448,12.479,2.605,67.640
3,2019-08-14,A,5019.000,2155.000,0,0.164,0.970,4.184,4.285,21084271240.000,...,18.900,23.160,887.000,37.290,2.578,0.267,3.485,13.044,2.616,65.590
4,2019-08-15,A,5090.000,1765.000,0,0.164,1.000,4.283,4.068,20365900000.000,...,20.800,22.018,918.000,36.935,-1.738,-2.772,-0.869,11.891,2.631,69.590

In [ ]:
assert(False)  # Check explicitly that AAPL has split data intact

### Separate out penny stocks

#### Get penny stock symbols to stay whole

In [67]:
db_clean = DataBase('stock_cleaned', 14333, 'localhost')
db_clean.pull_names_as_dataframes(['penny_performance', 'performance'])
penny_symbols = db_clean.frames['penny_performance']['sym'].unique()
db_clean.conn.close()

In [68]:
len(penny_symbols)

214

In [69]:
all_new_penny = all_new.loc[all_new['sym'].isin(penny_symbols)]

In [70]:
no_longer_penny = (all_new_penny.loc[all_new_penny['price'] > 1])['sym'].nunique()
print(no_longer_penny, "symbols are no longer less than a dollar")

147 symbols are no longer less than a dollar

In [71]:
all_new = all_new.drop(all_new_penny.index)

In [72]:
all_new_penny['sym'].nunique()

213

In [73]:
all_new['sym'].nunique()

1889

In [74]:
assert((all_new['sym'].nunique() + all_new_penny['sym'].nunique()) == len(all_symbols))

In [75]:
len(all_symbols)

2102

## To pickle

In [76]:
all_new_penny.isna().sum().sum()

0

In [77]:
all_new.isna().sum().sum()

0

In [78]:
assert(False) # Check pickle index

AssertionError:

In [83]:
all_new_penny.to_pickle('./data/penny_performance.pkl')
assert((all_new_penny != pd.read_pickle('./data/penny_performance.pkl')).sum().sum() == 0)

In [84]:
all_new.to_pickle('./data/performance.pkl')
assert((all_new != pd.read_pickle('./data/performance.pkl')).sum().sum() == 0)

## Post to SQL

#### Separate out penny stocks

In [85]:
to_be_added_performance = to_be_added_performance.reset_index()

In [86]:
to_be_added_performance_penny = to_be_added_performance.loc[to_be_added_performance['sym'].isin(penny_symbols)]

In [87]:
# Make sure this works
to_be_added_performance = to_be_added_performance.drop(to_be_added_performance_penny.index)

#### Performance

In [88]:
db_clean = DataBase('stock_cleaned', 14333, 'localhost')
# Make query list
query_list = []
for idx, row in to_be_added_performance.iterrows():
    query_list.append(tuple(row.to_dict().values()))

# Execute
db_clean.cur.executemany("""
REPLACE INTO performance (date, sym, RevenueTTM, TotalCash, ExDividendDate,
                    Dividend, DividendYield, PriceToBook, PriceToSales,
                    EnterpriseValue, PriceToCashFlow, PE, ReturnonEquity,
                    FreeCashFlow, TotalDebtToEquity, PricePerformance52Weeks,
                    PricePerformanceYTD, TotalReturn1Yr, TotalReturn3Yr,
                    VolumeAvg90Day, price)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
      query_list)

# commit
db_clean.conn.commit()

#### Penny

In [89]:
# Make query list
query_list_penny = []
for idx, row in to_be_added_performance_penny.iterrows():
    query_list_penny.append(tuple(row.to_dict().values()))
    
db_clean.cur.executemany("""
REPLACE INTO penny_performance (date, sym, RevenueTTM, TotalCash, ExDividendDate,
                    Dividend, DividendYield, PriceToBook, PriceToSales,
                    EnterpriseValue, PriceToCashFlow, PE, ReturnonEquity,
                    FreeCashFlow, TotalDebtToEquity, PricePerformance52Weeks,
                    PricePerformanceYTD, TotalReturn1Yr, TotalReturn3Yr,
                    VolumeAvg90Day, price)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
      query_list_penny)

db_clean.conn.commit()

# Company

In [90]:
df_company = db.frames['company'].copy(deep=True)

# Resetting date index and dropping index
df_company.set_index('sym', inplace=True, drop=True)

df_company.drop('date', inplace=True, axis=1)

df_company.replace(['', '--'], np.NaN, inplace=True)
df_company.head()

,company,securityType,sector,industry,subIndustry,Exchange,DJIA,NASDAQ100,SP500
sym,,,,,,,,,
A,Agilent Technologies Inc,CS,Health Care,Life Sciences Tools & Services,Life Sciences Tools & Services,NYSE,0,0,1
AA,Alcoa Corp,CS,Materials,Metals & Mining,Aluminum,NYSE,0,0,0
AABA,Altaba Inc,CS,Consumer Discretionary,Internet & Direct Marketing Retail,Internet & Direct Marketing Retail,NASDAQ,0,0,0
AAC,AAC Holdings Inc,CS,Health Care,Health Care Providers & Services,Health Care Facilities,NYSE,0,0,0
AACG,ATA Creativity Global,DR,Consumer Discretionary,Diversified Consumer Services,Education Services,NASDAQ,0,0,0

In [91]:
df_company = df_company.fillna('unknown')

In [92]:
df_company = df_company[df_company.index.isin(all_symbols)]

In [93]:
df_company.to_pickle('./data/company.pkl')

# Analyst

In [94]:
# Cleaning first two blank rows
df_analyst = db.frames['analyst'].copy(deep=True).drop([0, 1])

# Resetting date index and dropping index
df_analyst.set_index('date', inplace=True, drop=True)

# Dropping null date values
df_analyst = df_analyst.loc[df_analyst.index.notnull()]

df_analyst.replace(['', '--'], np.NaN, inplace=True)

df_analyst

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2019-06-04,A,NaN,NaN,1,3,70,Buy,Neutral,NEUTRAL,NaN,HOLD,92,75,7,85,HOLD,1.714
2019-06-08,A,NaN,NaN,1,3,70,Buy,Neutral,NEUTRAL,NaN,BUY,93,74,6,85,HOLD,1.8
2019-06-17,A,NaN,9.4,1,3,70,1,3,NEUTRAL,3,BUY,93,74,7,85,HOLD,1.813
2019-06-19,A,NaN,9.4,1,3,70,1,3,NEUTRAL,3,HOLD,93,75,7,85,HOLD,1.813
2019-06-20,A,NaN,7,1,3,70,1,3,NEUTRAL,3,HOLD,93,75,7,85,HOLD,1.813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-07,ZYXI,NaN,0.4,NaN,3,42,NaN,3,NaN,NaN,UNDERPERFORM,62,69,14,71,HOLD,1.8
2020-12-08,ZYXI,NaN,0.4,NaN,3,42,NaN,3,NaN,NaN,UNDERPERFORM,63,68,14,71,HOLD,1.8
2020-12-09,ZYXI,NaN,0.4,NaN,3,42,NaN,3,NaN,NaN,UNDERPERFORM,64,68,14,72,HOLD,1.8
2020-12-10,ZYXI,NaN,0.4,NaN,3,43,NaN,3,NaN,NaN,UNDERPERFORM,63,69,14,72,HOLD,1.8
2020-12-11,ZYXI,NaN,0.3,NaN,3,43,NaN,3,NaN,NaN,UNDERPERFORM,63,68,14,72,HOLD,1.8

### Loc relevant symbols

In [95]:
df_analyst = df_analyst.loc[df_analyst['sym'].isin(all_symbols)]

In [96]:
df_analyst['sym'].nunique()

2102

### Loc relevant date

In [97]:
df_analyst_new = df_analyst.loc[df_analyst.index.isin(df_analyst.iloc[-(len(idx_diff))::].index)]
df_analyst_new

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2020-12-11,A,NaN,7.5,NaN,3,70,1,3,NaN,1,NEUTRAL,80,80,31,80,HOLD,2.167
2020-12-11,AAL,Hold,1.1,NaN,5,54,5,3,NaN,3,NEUTRAL,30,23,9,38,HOLD,3.476
2020-12-11,AAMC,NaN,NaN,NaN,NaN,82,NaN,NaN,NaN,NaN,NaN,20,77,92,71,NaN,NaN
2020-12-11,AAME,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,48,16,71,62,HOLD,NaN
2020-12-11,AAP,Buy,7,NaN,2,53,1,3,NaN,3,NEUTRAL,67,43,58,81,HOLD,2.333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-11,ZIXI,NaN,7.7,NaN,2,35,3,3,NaN,NaN,NEUTRAL,75,71,50,60,HOLD,1.5
2020-12-11,ZNGA,NaN,1.9,NaN,3,90,5,3,NaN,3,NEUTRAL,33,33,31,28,HOLD,2.1
2020-12-11,ZTS,Buy,5.5,NaN,2,56,3,3,NaN,3,NEUTRAL,86,87,57,78,HOLD,2.05
2020-12-11,ZUMZ,NaN,7.7,NaN,2,90,5,3,NaN,NaN,NEUTRAL,92,58,88,76,BUY,2.167
2020-12-11,ZYXI,NaN,0.3,NaN,3,43,NaN,3,NaN,NaN,UNDERPERFORM,63,68,14,72,HOLD,1.8

In [98]:
old_df_analyst

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2019-08-09,A,0,5.800,1.000,3.000,78.000,1.000,3.000,3.000,3,3,93.000,73.000,6.000,84.000,3.000,2.000
2019-08-12,A,0,8.300,1.000,3.000,78.000,1.000,3.000,3.000,3,5,93.000,73.000,6.000,84.000,3.000,2.000
2019-08-13,A,0,8.300,1.000,3.000,73.000,1.000,3.000,3.000,3,3,93.000,73.000,7.000,85.000,3.000,2.000
2019-08-14,A,0,4.200,1.000,3.000,73.000,1.000,3.000,3.000,3,3,93.000,73.000,7.000,85.000,3.000,2.000
2019-08-15,A,0,4.200,1.000,3.000,73.000,1.000,3.000,3.000,3,3,93.000,74.000,7.000,85.000,3.000,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-04,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,62.000,68.000,15.000,71.000,3.000,1.800
2020-12-07,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,62.000,69.000,14.000,71.000,3.000,1.800
2020-12-08,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,63.000,68.000,14.000,71.000,3.000,1.800
2020-12-09,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,64.000,68.000,14.000,72.000,3.000,1.800
2020-12-10,ZYXI,0,0.400,2.000,3.000,43.000,0.000,3.000,0.000,0,2,63.000,69.000,14.000,72.000,3.000,1.800

### Sort old index

In [99]:
old_df_analyst = old_df_analyst.reset_index().set_index(['sym', 'date'], drop=True).sort_index().reset_index().set_index(['date'], drop=True)

In [100]:
old_df_analyst

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2019-08-09,A,0,5.800,1.000,3.000,78.000,1.000,3.000,3.000,3,3,93.000,73.000,6.000,84.000,3.000,2.000
2019-08-12,A,0,8.300,1.000,3.000,78.000,1.000,3.000,3.000,3,5,93.000,73.000,6.000,84.000,3.000,2.000
2019-08-13,A,0,8.300,1.000,3.000,73.000,1.000,3.000,3.000,3,3,93.000,73.000,7.000,85.000,3.000,2.000
2019-08-14,A,0,4.200,1.000,3.000,73.000,1.000,3.000,3.000,3,3,93.000,73.000,7.000,85.000,3.000,2.000
2019-08-15,A,0,4.200,1.000,3.000,73.000,1.000,3.000,3.000,3,3,93.000,74.000,7.000,85.000,3.000,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-04,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,62.000,68.000,15.000,71.000,3.000,1.800
2020-12-07,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,62.000,69.000,14.000,71.000,3.000,1.800
2020-12-08,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,63.000,68.000,14.000,71.000,3.000,1.800
2020-12-09,ZYXI,0,0.400,2.000,3.000,42.000,0.000,3.000,0.000,0,2,64.000,68.000,14.000,72.000,3.000,1.800
2020-12-10,ZYXI,0,0.400,2.000,3.000,43.000,0.000,3.000,0.000,0,2,63.000,69.000,14.000,72.000,3.000,1.800

### Add last real day to df_analyst for interpolating

In [101]:
old_df_analyst = old_df_analyst.reset_index().set_index(['date'], drop=True)

In [102]:
old_df_analyst = old_df_analyst.loc[old_df_analyst.index[-1] == (old_df_analyst.index)]
old_df_analyst

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2020-12-10,A,0,7.500,1.000,3.000,70.000,1.000,3.000,3.000,1,3,80.000,80.000,31.000,79.000,3.000,2.167
2020-12-10,AAL,3,1.000,3.000,5.000,54.000,5.000,3.000,3.000,3,3,30.000,23.000,9.000,38.000,3.000,3.476
2020-12-10,AAMC,0,0.000,3.000,0.000,82.000,0.000,0.000,0.000,0,0,20.000,77.000,92.000,71.000,3.000,0.000
2020-12-10,AAME,0,0.000,2.000,1.000,0.000,0.000,0.000,0.000,0,0,49.000,16.000,71.000,62.000,3.000,0.000
2020-12-10,AAP,5,7.100,3.000,2.000,53.000,1.000,3.000,3.000,3,3,67.000,44.000,59.000,81.000,3.000,2.333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-10,ZIXI,0,7.700,1.000,2.000,33.000,3.000,3.000,0.000,0,3,76.000,71.000,50.000,60.000,3.000,1.500
2020-12-10,ZNGA,0,1.900,1.000,3.000,90.000,5.000,3.000,3.000,3,3,33.000,33.000,31.000,28.000,3.000,2.100
2020-12-10,ZTS,5,5.500,1.000,2.000,56.000,3.000,3.000,3.000,3,3,86.000,88.000,58.000,78.000,3.000,2.050
2020-12-10,ZUMZ,0,7.700,2.000,2.000,88.000,5.000,3.000,0.000,1,3,92.000,58.000,88.000,76.000,5.000,2.167
2020-12-10,ZYXI,0,0.400,2.000,3.000,43.000,0.000,3.000,0.000,0,2,63.000,69.000,14.000,72.000,3.000,1.800

## Create new

In [103]:
df_analyst_new.index = pd.to_datetime(df_analyst_new.index)
old_df_analyst.index = pd.to_datetime(old_df_analyst.index)

In [104]:
df_new_analyst = pd.concat([old_df_analyst, df_analyst_new])

In [105]:
df_new_analyst

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2020-12-10,A,0,7.500,1.000,3.000,70.000,1.000,3.000,3.000,1,3,80.000,80.000,31.000,79.000,3.000,2.167
2020-12-10,AAL,3,1.000,3.000,5.000,54.000,5.000,3.000,3.000,3,3,30.000,23.000,9.000,38.000,3.000,3.476
2020-12-10,AAMC,0,0.000,3.000,0.000,82.000,0.000,0.000,0.000,0,0,20.000,77.000,92.000,71.000,3.000,0.000
2020-12-10,AAME,0,0.000,2.000,1.000,0.000,0.000,0.000,0.000,0,0,49.000,16.000,71.000,62.000,3.000,0.000
2020-12-10,AAP,5,7.100,3.000,2.000,53.000,1.000,3.000,3.000,3,3,67.000,44.000,59.000,81.000,3.000,2.333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-11,ZIXI,NaN,7.7,NaN,2,35,3,3,NaN,NaN,NEUTRAL,75,71,50,60,HOLD,1.5
2020-12-11,ZNGA,NaN,1.9,NaN,3,90,5,3,NaN,3,NEUTRAL,33,33,31,28,HOLD,2.1
2020-12-11,ZTS,Buy,5.5,NaN,2,56,3,3,NaN,3,NEUTRAL,86,87,57,78,HOLD,2.05
2020-12-11,ZUMZ,NaN,7.7,NaN,2,90,5,3,NaN,NaN,NEUTRAL,92,58,88,76,BUY,2.167
2020-12-11,ZYXI,NaN,0.3,NaN,3,43,NaN,3,NaN,NaN,UNDERPERFORM,63,68,14,72,HOLD,1.8

### Sort index

In [106]:
df_new_analyst = df_new_analyst.reset_index().set_index(['sym', 'date'], drop=True).sort_index().reset_index().set_index(['date'], drop=True)
df_new_analyst

,sym,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
date,,,,,,,,,,,,,,,,,
2020-12-10,A,0,7.500,1.000,3.000,70.000,1.000,3.000,3.000,1,3,80.000,80.000,31.000,79.000,3.000,2.167
2020-12-11,A,NaN,7.5,NaN,3,70,1,3,NaN,1,NEUTRAL,80,80,31,80,HOLD,2.167
2020-12-10,AAL,3,1.000,3.000,5.000,54.000,5.000,3.000,3.000,3,3,30.000,23.000,9.000,38.000,3.000,3.476
2020-12-11,AAL,Hold,1.1,NaN,5,54,5,3,NaN,3,NEUTRAL,30,23,9,38,HOLD,3.476
2020-12-10,AAMC,0,0.000,3.000,0.000,82.000,0.000,0.000,0.000,0,0,20.000,77.000,92.000,71.000,3.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-11,ZTS,Buy,5.5,NaN,2,56,3,3,NaN,3,NEUTRAL,86,87,57,78,HOLD,2.05
2020-12-10,ZUMZ,0,7.700,2.000,2.000,88.000,5.000,3.000,0.000,1,3,92.000,58.000,88.000,76.000,5.000,2.167
2020-12-11,ZUMZ,NaN,7.7,NaN,2,90,5,3,NaN,NaN,NEUTRAL,92,58,88,76,BUY,2.167
2020-12-10,ZYXI,0,0.400,2.000,3.000,43.000,0.000,3.000,0.000,0,2,63.000,69.000,14.000,72.000,3.000,1.800
2020-12-11,ZYXI,NaN,0.3,NaN,3,43,NaN,3,NaN,NaN,UNDERPERFORM,63,68,14,72,HOLD,1.8

### Iterate to map and fillna

In [107]:
analyst_mapping = {
    'Argus': {0:0, 'Buy':5, 'Hold':3, 'Sell':1,
              5:5, 3:3, 1:1},
    'TradingCentral': {'Buy':5, '1':1, '3':3, '5':5, 0:0, 'Sell':1,
                       1:1, 3:3, 5:5},
    'Jefferson': {'Buy':5, '1':1, '3':3, '5':5, 'Hold':3, 'Sell':1,
                  1:1, 3:3, 5:5},
    'McLeanCapital': {'Buy':5, '1':1, '3':3, '5':5, 'Neutral':3, 'Sell':1,
                      1:1, 3:3, 5:5},
    'NedDavis': {'NEUTRAL':3, 'BUY':5, 'SELL':1,
                 1:1, 3:3, 5:5},
    'Zacks': {'STRONG BUY':6, 'BUY':5, 'OUTPERFORM':5,
             'NEUTRAL':3, 'HOLD':3, 'SELL':2, 'UNDERPERFORM':2,
             'STRONG SELL':1, 'NONE':0,
             1:1, 2:2, 3:3, 5:5, 6:6, 0:0},
    'ThomsonReutersVerus': {'HOLD':3, 'SELL':1, 'BUY':5,
                            1:1, 3:3, 5:5}
}

In [112]:
df_new_analyst_copy = df_new_analyst.copy()

In [113]:
# takes symbols and idx from when prices ran through this
symbols = all_symbols
idx = df_new_analyst.iloc[-(len(idx_diff)+1)::].index
sym_dfs = []

sym_num = len(symbols)
times = np.array([])

def cust_interpolate_fill_na(sym):
    # Locing new, and one before for filling to speed up
    _new = df_new_analyst.loc[df_new_analyst['sym'] == sym]
    new_sym = pd.DataFrame(_new, index=idx)
    new_sym['sym'] = sym
    new_sym = new_sym.fillna(method='ffill').fillna(0)
    for col, mapping in analyst_mapping.items():
        new_sym[col] = new_sym[col].map(mapping)
    if new_sym.isna().sum().sum() > 0:
        new_sym = new_sym.fillna(0)
    sym_dfs.append(new_sym)

for num, sym in enumerate(symbols):
    start = time.time()
    cust_interpolate_fill_na(sym)  # Timed function
    end = time.time()
    time_taken = end-start
    times = np.append(times, time_taken)
    print(f"{num+1}/{sym_num} in {time_taken: .2f}s for {sym} :: averaging {times.mean():.2f}s/sym...", end='\r')
    
all_new = pd.concat(sym_dfs)
to_be_added_analyst = all_new.loc[all_new.index.isin(idx_diff)]

### Convert string to float

In [117]:
for col in to_be_added_analyst.columns:
    if col != 'sym':
        to_be_added_analyst[col] = pd.to_numeric(to_be_added_analyst[col])
        all_new[col] = pd.to_numeric(all_new[col])

In [118]:
to_be_added_analyst['TradingCentral'].unique()

array([1, 3, 0, 5], dtype=int64)

## Add to sql server

In [119]:
db_clean = DataBase('stock_cleaned', 14333, 'localhost')
db_clean.pull_names_as_dataframes(['analyst'])
db_clean.frames['analyst']

,sym,date,Argus,StarMine,ColumbineCapital,FordEquityResearch,ISSEVA,Jefferson,McLeanCapital,NedDavis,TradingCentral,Zacks,SPValuation,SPQuality,SPGrowthStability,SPFinancialHealth,ThomsonReutersVerus,ThomsonReutersIBES
0,A,2019-08-09,0,5.800,1,3,78,1,3,3,3,3,93,73,6,84,3,2.000
1,A,2019-08-12,0,8.300,1,3,78,1,3,3,3,5,93,73,6,84,3,2.000
2,A,2019-08-13,0,8.300,1,3,73,1,3,3,3,3,93,73,7,85,3,2.000
3,A,2019-08-14,0,4.200,1,3,73,1,3,3,3,3,93,73,7,85,3,2.000
4,A,2019-08-15,0,4.200,1,3,73,1,3,3,3,3,93,74,7,85,3,2.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727287,ZYXI,2020-12-04,0,0.400,2,3,42,0,3,0,0,2,62,68,15,71,3,1.800
727288,ZYXI,2020-12-07,0,0.400,2,3,42,0,3,0,0,2,62,69,14,71,3,1.800
727289,ZYXI,2020-12-08,0,0.400,2,3,42,0,3,0,0,2,63,68,14,71,3,1.800
727290,ZYXI,2020-12-09,0,0.400,2,3,42,0,3,0,0,2,64,68,14,72,3,1.800
727291,ZYXI,2020-12-10,0,0.400,2,3,43,0,3,0,0,2,63,69,14,72,3,1.800

In [120]:
query_list = []
for idx, row in to_be_added_analyst.reset_index().iterrows():
    query_list.append(tuple(row.to_dict().values()))

db_clean = DataBase('stock_cleaned', 14333, 'localhost')
db_clean.cur.executemany("""
REPLACE INTO analyst (date, sym, Argus, StarMine, ColumbineCapital,
                         FordEquityResearch, ISSEVA, Jefferson, McLeanCapital,
                         NedDavis, TradingCentral, Zacks, SPValuation,
                         SPQuality, SPGrowthStability, SPFinancialHealth,
                         ThomsonReutersVerus, ThomsonReutersIBES)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""",
      query_list)
db_clean.conn.commit()
db_clean.conn.close()

## Pickle

In [121]:
old_df_analyst = pd.read_pickle('./data/analyst.pkl')

In [122]:
all_new = pd.concat([old_df_analyst, to_be_added_analyst])

#### Sort by date/sym

In [123]:
all_new = all_new.reset_index().set_index(['sym', 'date'], drop=True).sort_index().reset_index().set_index(['date'], drop=True)

In [125]:
assert(len(pd.read_pickle('./data/performance.pkl').set_index(['date']).index.unique() == \
    len(all_new.index.unique())))

In [127]:
all_new.to_pickle('./data/analyst.pkl')
assert((all_new != pd.read_pickle('./data/analyst.pkl')).sum().sum() == 0)

# Combine company, analyst and performance

In [128]:
df_prices = pd.read_pickle("./data/prices.pkl")
df_performance = pd.read_pickle('./data/performance.pkl')
df_penny_performance = pd.read_pickle('./data/penny_performance.pkl')
df_analyst = pd.read_pickle('./data/analyst.pkl')

In [129]:
df_company.drop('subIndustry', axis=1, inplace=True)

In [130]:
def combine_df(df, company, analyst):
    ohe_columns = list(company.columns)
    ohe_columns.remove('company')
    df = df.reset_index().set_index(['date', 'sym'], drop=True)
    analyst = analyst.reset_index().set_index(['date', 'sym'], drop=True)
    df_new = MLFrame(df.join(df_company).join(analyst))
    df_new.drop('company', inplace=True, axis=1)
    df_new = df_new.one_hot_encode(columns=ohe_columns)
    return df_new

## Performance

In [131]:
df_performance_combined = combine_df(df_performance, df_company, df_analyst)
df_performance_combined.head()

Added categorical columns
3 -> Dividend
4 -> Exchange
5 -> securityType
10 -> sector
68 -> industry

,,index,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,...,industry_Transportation Infrastructure,industry_Water Utilities,industry_Wireless Telecommunication Services,Exchange_NASDAQ,Exchange_NYSE,Exchange_OTC,Exchange_unknown,DJIA_1,NASDAQ100_1,SP500_1
date,sym,,,,,,,,,,,,,,,,,,,,,
2019-08-09,A,0,5019.000,2155.000,0,0.164,0.944,4.298,4.402,21670704590.000,16.574,...,0,0,0,0,1,0,0,0,0,1
2019-08-12,A,1,5019.000,2155.000,0,0.164,0.956,4.246,4.348,21401262240.000,16.371,...,0,0,0,0,1,0,0,0,0,1
2019-08-13,A,2,5019.000,2155.000,0,0.164,0.985,4.121,4.221,20764110330.000,15.892,...,0,0,0,0,1,0,0,0,0,1
2019-08-14,A,3,5019.000,2155.000,0,0.164,0.970,4.184,4.285,21084271240.000,16.132,...,0,0,0,0,1,0,0,0,0,1
2019-08-15,A,4,5090.000,1765.000,0,0.164,1.000,4.283,4.068,20365900000.000,16.051,...,0,0,0,0,1,0,0,0,0,1

## Penny

In [132]:
df_penny_performance_combined = combine_df(df_penny_performance, df_company, df_analyst)
df_penny_performance_combined.head()

Added categorical columns
3 -> Dividend
3 -> securityType
3 -> Exchange
10 -> sector
47 -> industry

,,index,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,PriceToCashFlow,...,industry_Road & Rail,industry_Semiconductors & Semiconductor Equipment,industry_Software,industry_Specialty Retail,"industry_Technology Hardware, Storage & Peripherals","industry_Textiles, Apparel & Luxury Goods",industry_Trading Companies & Distributors,Exchange_NASDAQ,Exchange_NYSE,Exchange_OTC
date,sym,,,,,,,,,,,,,,,,,,,,,
2019-08-09,ACFN,6593,5.205,1.078,0,0.000,0.000,0.000,1.746,8486470.000,0.000,...,0,0,0,0,0,0,0,0,0,1
2019-08-12,ACFN,6594,5.205,1.078,0,0.000,0.000,0.000,1.526,7344130.600,0.000,...,0,0,0,0,0,0,0,0,0,1
2019-08-13,ACFN,6595,5.205,1.078,0,0.000,0.000,0.000,1.135,5309200.000,0.000,...,0,0,0,0,0,0,0,0,0,1
2019-08-14,ACFN,6596,5.205,1.078,0,0.000,0.000,0.000,1.553,7484521.600,0.000,...,0,0,0,0,0,0,0,0,0,1
2019-08-15,ACFN,6597,5.205,1.078,0,0.000,0.000,0.000,1.646,7969240.000,0.000,...,0,0,0,0,0,0,0,0,0,1

## Write pickles

In [133]:
df_performance_combined.to_pickle('./data/performance_combined.pkl')
df_penny_performance_combined.to_pickle('./data/performance_penny_combined.pkl')

# Post to firebase

```python
# Test

aal = {}
sym_df = df_performance.groupby('sym')
aal = sym_df.get_group('AAL').drop('sym', axis=1).reset_index(drop=True).to_dict()
aal['AAL/Argus/322'] = 7
req = fb.refresh_all_data(aal)
```

> As this tests works, if we want to update a date i.e adding 322 we will have to generate the url for each column/key

In [134]:
from db import FireBase
import json
import os

In [135]:
fb = FireBase()

In [136]:
to_be_added_performance

,date,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
0,2020-12-11,A,5339.000,1441.000,18631,0.194,0.653,7.461,6.860,37273860000.000,...,51.500,14.771,802.000,52.378,43.265,39.269,44.493,21.876,1.415,118.810
1,2020-12-11,AAL,24622.000,8792.000,0,0.100,3.331,74.794,0.341,41562785960.000,...,3.200,219.823,-6029.000,-1299.197,-33.370,-37.273,-33.125,-28.747,72.698,17.980
2,2020-12-11,AAMC,4.127,44.909,0,0.000,0.000,0.000,2.262,242914000.000,...,0.000,9.698,7.201,-1.627,68.643,84.211,68.643,-32.217,0.013,22.750
3,2020-12-11,AAME,187.705,9.959,0,0.020,1.117,0.351,0.240,84041000.000,...,37.800,1.011,4.646,33.247,13.789,11.675,13.789,-13.524,0.011,2.200
4,2020-12-11,AAP,9853.804,1068.205,18613,0.250,0.632,2.878,1.108,13251641900.000,...,22.900,13.089,674.044,100.361,1.313,-1.211,1.972,16.791,0.865,158.220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,2020-12-11,ZIXI,210.990,23.662,0,0.000,0.000,11.735,1.981,706135960.000,...,0.000,-40.690,12.460,520.213,12.500,8.850,12.500,20.290,0.760,7.380
2020,2020-12-11,ZNGA,1763.250,755.431,0,0.000,0.000,3.321,4.842,9321665340.000,...,143.900,-18.134,296.400,34.476,41.272,41.503,41.272,31.828,21.049,8.660
2021,2020-12-11,ZTS,6555.000,3654.000,0,0.200,0.632,20.862,11.462,79354423160.000,...,46.000,55.226,1523.000,240.880,28.783,19.471,29.520,30.837,1.661,158.120
2022,2020-12-11,ZUMZ,987.869,316.173,0,0.000,0.000,1.890,0.958,954995880.000,...,13.200,15.283,145.507,72.242,8.845,7.238,8.845,20.442,0.334,37.010
2023,2020-12-11,ZYXI,68.679,41.229,0,0.000,0.000,8.558,6.528,428729060.000,...,43.500,32.881,3.825,17.030,46.230,70.013,46.230,74.378,0.730,13.360

In [137]:
to_be_added_performance_penny

,date,sym,RevenueTTM,TotalCash,ExDividendDate,Dividend,DividendYield,PriceToBook,PriceToSales,EnterpriseValue,...,PE,ReturnonEquity,FreeCashFlow,TotalDebtToEquity,PricePerformance52Weeks,PricePerformanceYTD,TotalReturn1Yr,TotalReturn3Yr,VolumeAvg90Day,price
24,2020-12-11,ACRX,5.153,43.023,0,0.000,0.000,0.000,22.828,202444760.000,...,0.000,85.491,-46.799,-223.802,-30.392,-32.701,-30.392,-12.228,1.538,1.410
41,2020-12-11,AERO,61.037,3.830,0,0.000,0.000,6.271,1.687,103345000.000,...,18.200,44.422,4.357,24.077,212.500,226.087,212.500,8.327,0.047,3.000
61,2020-12-11,AIRI,48.933,1.460,0,0.000,0.000,3.345,0.768,70677040.000,...,0.000,-19.535,-6.180,271.771,-23.931,-46.087,-23.931,-3.735,0.338,1.240
74,2020-12-11,ALJJ,370.837,7.393,0,0.000,0.000,3.007,0.129,144556490.000,...,0.000,-159.313,5.987,207.948,-6.224,-1.739,-6.224,-30.732,0.287,1.100
128,2020-12-11,AR,3135.345,0.000,0,0.000,0.000,0.247,0.458,7219047290.000,...,26.300,-28.697,-401.745,98.847,94.403,82.807,94.403,-34.131,10.654,5.210
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2082,2020-12-11,TREVF,234.685,11.858,0,0.000,0.000,0.476,0.543,257220101.800,...,0.000,-60.716,-80.492,35.989,11.823,-7.130,11.823,-46.270,0.134,0.159
2083,2020-12-11,UAMY,6.086,1.690,0,0.000,0.000,3.455,4.736,29684825.000,...,69.000,-42.153,-0.624,6.300,2.074,4.805,2.074,14.175,2.226,0.404
2084,2020-12-11,URG,19.153,6.643,0,0.000,0.000,2.728,5.312,112632500.000,...,0.000,-18.266,-1.542,31.258,6.838,6.202,6.838,-2.772,0.583,0.625
2085,2020-12-11,VKIN,38.998,5.951,0,0.000,0.000,2.613,0.530,152670590.000,...,1.300,-150.494,-1.182,772.640,-7.110,8.333,-7.110,-16.085,0.110,0.130
2086,2020-12-11,XPL,0.408,8.574,0,0.000,0.000,1.163,68.447,19433894.000,...,0.000,-3.221,-0.970,0.283,84.382,60.113,84.382,-4.970,0.876,0.480

In [138]:
df_post = pd.concat([to_be_added_performance, to_be_added_performance_penny])

In [139]:
fb_index = fb.get_index()

In [140]:
date_range = fb_index['data']['date_range']
date_range

['08-09-2019',
 '08-12-2019',
 '08-13-2019',
 '08-14-2019',
 '08-15-2019',
 '08-16-2019',
 '08-19-2019',
 '08-20-2019',
 '08-21-2019',
 '08-22-2019',
 '08-23-2019',
 '08-26-2019',
 '08-27-2019',
 '08-28-2019',
 '08-29-2019',
 '08-30-2019',
 '09-02-2019',
 '09-03-2019',
 '09-04-2019',
 '09-05-2019',
 '09-06-2019',
 '09-09-2019',
 '09-10-2019',
 '09-11-2019',
 '09-12-2019',
 '09-13-2019',
 '09-16-2019',
 '09-17-2019',
 '09-18-2019',
 '09-19-2019',
 '09-20-2019',
 '09-23-2019',
 '09-24-2019',
 '09-25-2019',
 '09-26-2019',
 '09-27-2019',
 '09-30-2019',
 '10-01-2019',
 '10-02-2019',
 '10-03-2019',
 '10-04-2019',
 '10-07-2019',
 '10-08-2019',
 '10-09-2019',
 '10-10-2019',
 '10-11-2019',
 '10-14-2019',
 '10-15-2019',
 '10-16-2019',
 '10-17-2019',
 '10-18-2019',
 '10-21-2019',
 '10-22-2019',
 '10-23-2019',
 '10-24-2019',
 '10-25-2019',
 '10-28-2019',
 '10-29-2019',
 '10-30-2019',
 '10-31-2019',
 '11-01-2019',
 '11-04-2019',
 '11-05-2019',
 '11-06-2019',
 '11-07-2019',
 '11-08-2019',
 '11-11-2019',
 '11-12-2019',
 '11-13-2019',
 '11-14-2019',
 '11-15-2019',
 '11-18-2019',
 '11-19-2019',
 '11-20-2019',
 '11-21-2019',
 '11-22-2019',
 '11-25-2019',
 '11-26-2019',
 '11-27-2019',
 '11-28-2019',
 '11-29-2019',
 '12-02-2019',
 '12-03-2019',
 '12-04-2019',
 '12-05-2019',
 '12-06-2019',
 '12-10-2019',
 '12-11-2019',
 '12-12-2019',
 '12-13-2019',
 '12-16-2019',
 '12-17-2019',
 '12-18-2019',
 '12-19-2019',
 '12-20-2019',
 '12-23-2019',
 '12-24-2019',
 '12-25-2019',
 '12-26-2019',
 '12-27-2019',
 '12-30-2019',
 '12-31-2019',
 '01-01-2020',
 '01-02-2020',
 '01-03-2020',
 '01-06-2020',
 '01-07-2020',
 '01-08-2020',
 '01-09-2020',
 '01-10-2020',
 '01-13-2020',
 '01-14-2020',
 '01-15-2020',
 '01-16-2020',
 '01-17-2020',
 '01-20-2020',
 '01-21-2020',
 '01-22-2020',
 '01-23-2020',
 '01-24-2020',
 '01-27-2020',
 '01-28-2020',
 '01-29-2020',
 '01-30-2020',
 '01-31-2020',
 '02-03-2020',
 '02-04-2020',
 '02-05-2020',
 '02-06-2020',
 '02-07-2020',
 '02-10-2020',
 '02-11-2020',
 '02-12-2020',
 '02-13-2020',
 '02-14-2020',
 '02-17-2020',
 '02-18-2020',
 '02-19-2020',
 '02-20-2020',
 '02-21-2020',
 '02-24-2020',
 '02-25-2020',
 '02-26-2020',
 '02-27-2020',
 '02-28-2020',
 '03-02-2020',
 '03-03-2020',
 '03-04-2020',
 '03-05-2020',
 '03-06-2020',
 '03-09-2020',
 '03-10-2020',
 '03-11-2020',
 '03-12-2020',
 '03-13-2020',
 '03-16-2020',
 '03-17-2020',
 '03-18-2020',
 '03-19-2020',
 '03-20-2020',
 '03-23-2020',
 '03-24-2020',
 '03-25-2020',
 '03-26-2020',
 '03-27-2020',
 '03-30-2020',
 '03-31-2020',
 '04-01-2020',
 '04-02-2020',
 '04-03-2020',
 '04-06-2020',
 '04-07-2020',
 '04-08-2020',
 '04-09-2020',
 '04-10-2020',
 '04-13-2020',
 '04-14-2020',
 '04-15-2020',
 '04-16-2020',
 '04-17-2020',
 '04-20-2020',
 '04-21-2020',
 '04-22-2020',
 '04-23-2020',
 '04-24-2020',
 '04-27-2020',
 '04-28-2020',
 '04-29-2020',
 '04-30-2020',
 '05-01-2020',
 '05-04-2020',
 '05-05-2020',
 '05-06-2020',
 '05-07-2020',
 '05-08-2020',
 '05-11-2020',
 '05-12-2020',
 '05-13-2020',
 '05-14-2020',
 '05-15-2020',
 '05-18-2020',
 '05-19-2020',
 '05-20-2020',
 '05-21-2020',
 '05-22-2020',
 '05-25-2020',
 '05-26-2020',
 '05-27-2020',
 '05-28-2020',
 '05-29-2020',
 '06-01-2020',
 '06-02-2020',
 '06-03-2020',
 '06-04-2020',
 '06-05-2020',
 '06-08-2020',
 '06-09-2020',
 '06-10-2020',
 '06-11-2020',
 '06-12-2020',
 '06-15-2020',
 '06-16-2020',
 '06-17-2020',
 '06-18-2020',
 '06-19-2020',
 '06-22-2020',
 '06-26-2020',
 '06-29-2020',
 '06-30-2020',
 '07-01-2020',
 '07-02-2020',
 '07-03-2020',
 '07-06-2020',
 '07-07-2020',
 '07-08-2020',
 '07-09-2020',
 '07-10-2020',
 '07-13-2020',
 '07-14-2020',
 '07-15-2020',
 '07-16-2020',
 '07-17-2020',
 '07-20-2020',
 '07-21-2020',
 '07-22-2020',
 '07-23-2020',
 '07-24-2020',
 '07-27-2020',
 '07-28-2020',
 '07-29-2020',
 '07-30-2020',
 '07-31-2020',
 '08-03-2020',
 '08-04-2020',
 '08-05-2020',
 '08-06-2020',
 '08-07-2020',
 '08-10-2020',
 '08-11-2020',
 '08-12-2020',
 '08-13-2020',
 '08-14-2020',
 '08-17-2020',
 '08-18-2020',
 '08-19-2020',
 '08-20-2020',
 '08-21-2020',
 '08-24-2020',
 '08-25-2020',
 '08-26-2020',
 '08-27-2020',
 '08-28-2020',
 '08-31-2020',
 '09-01-2020',
 '09-02-2020',
 '09-03-2020',
 '09-04-2020',
 '09-07-2020',
 '09-08-2020',
 '09-09-2020',
 '09-10-2020',
 '09-11-2020',
 '09-14-2020',
 '09-15-2020',
 '09-16-2020',
 '09-17-2020',
 '09-18-2020',
 '09-21-2020',
 '09-22-2020',
 '09-23-2020',
 '09-24-2020',
 '09-25-2020',
 '09-28-2020',
 '09-29-2020',
 '09-30-2020',
 '10-01-2020',
 '10-02-2020',
 '10-05-2020',
 '10-06-2020',
 '10-07-2020',
 '10-08-2020',
 '10-09-2020',
 '10-12-2020',
 '10-13-2020',
 '10-14-2020',
 '10-15-2020',
 '10-16-2020',
 '10-19-2020',
 '10-20-2020',
 '10-21-2020',
 '10-22-2020',
 '10-23-2020',
 '10-26-2020',
 '10-27-2020',
 '10-28-2020',
 '10-29-2020',
 '10-30-2020',
 '11-02-2020',
 '11-03-2020',
 '11-04-2020',
 '11-05-2020',
 '11-06-2020',
 '11-09-2020',
 '11-10-2020',
 '11-11-2020',
 '11-12-2020',
 '11-13-2020',
 '11-16-2020',
 '11-17-2020',
 '11-18-2020',
 '11-19-2020',
 '11-20-2020',
 '11-23-2020',
 '11-24-2020',
 '11-25-2020',
 '11-26-2020',
 '11-27-2020',
 '11-30-2020',
 '12-01-2020',
 '12-02-2020',
 '12-03-2020',
 '12-04-2020',
 '12-07-2020',
 '12-08-2020',
 '12-09-2020',
 '12-10-2020']

In [141]:
df_post = df_post.set_index('date', drop=True)

In [142]:
new_dates = pd.Series(df_post.index.unique()).map(lambda x: x.strftime("%m-%d-%Y")).values

In [143]:
to_add = {}
for date in new_dates:
    to_add[len(date_range)] = date
    date_range.append(date)

In [144]:
to_add

{346: '12-11-2020'}

In [145]:
to_add.keys()

dict_keys([346])

In [146]:
all_symbols = df_post['sym'].unique()

for val, date in to_add.items():
    sym_df = df_post.loc[date].groupby('sym')

    post = {}
    for sym in all_symbols:
        sym_new = sym_df.get_group(sym).drop('sym', axis=1).reset_index(drop=True).to_dict()
        for key, value in sym_new.items():
             post[f"{sym}/{key}/{val}"] = value[0]
    req = fb.refresh_all_data(post)
    try:
        req['req']
    except KeyError:
        print("REQUEST ERROR")
        print(req['error'])

In [147]:
date_range = pd.Series(date_range).to_dict()
df_post.reset_index(drop=True, inplace=True)
column_index = list(df_post.columns)
column_index.remove('sym')
column_index = dict(zip(range(len(column_index)), column_index))
all_symbols = df_post['sym'].unique()
symbol_index = tuple(all_symbols)
index = {
    'column': column_index,
    'date_range': date_range,
    'stocks': symbol_index
}
req = fb.refresh_index(index)